# Copie este arquivo para ".env" e preencha com seus dados

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# Slug do time da Twitch. Se a URL do time é twitch.tv/team/nossaequipe,
# o valor aqui é: nossaequipe
TEAM_NAME=

PORT=3000
